body{
    font-family: segoe ui;
}
.header{

    padding: 1%;
}
.home-button{
    padding-top: 5px;
    float: left;
}
.logout{
  float: right;
}
.table-control{
    float: left;
    width: 100%;
}
td.button-w{
    width: 14%;
}
/* style for tab 2  */
td.avatar{
    width: 10%;
}
img.avatar-img{
    width: 100%;
}

.form-add-here form .input-group{
    display: inline-flex;
    width: 20%;
}

