body{
    font-size: 14px;
    font-family: segoe ui;

}
.banner-top{
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 99;
    background: #000000;
    top: 0px;
    animation: slide-down 0.5s;
}
.banner-top-control{
    background-color: #000000;
    padding: 5px 20px ;
}
.item-logo-left{
    width: 16.666%;
    float: left;
}
.item-logo-left a img{
    height: 60px;
    text-align: center;
}
.item-list-center{
    width: 66.666%;
    float: left;
}
.list-control{
    margin-top: 15px;
    background: #000000;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.list-control ul.list-item {
    text-align: center;

}
.list-control ul.list-item li.menu-item{
    display: inline-block;
    padding: 10px 0px;
    margin: 0px 10px;
}

.item-contact-right{
    width: 16.666%;
    float: left;
}
.right-contact-control ul.contact-control{
    margin: 20px 0px 0px;

}
.right-contact-control ul.contact-control li.contact-item{
    display: inline-block;
    margin-left: 20px;
    margin-top: 5px; 
}

#home-main-slider{
    margin-top: 72px;
}