 /* tool  */
a{
    color: #ffffff;
    text-decoration: none;
}
.a{
    color: #ffffff;
}
.clearfix{
    overflow: auto;
}
.owl-theme .owl-nav.disabled + .owl-dots{
    margin-top: -22px !important;
    position: absolute;
    z-index: 1;
    margin-left: 47%;
}
.overlay{
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}
.text-align-center{
    text-align: center !important;
}
.mr-10{
    margin-right: 10px
}
.mb-15{
    margin-bottom: 15px;
}
/* quy định về kích thước  */
.text-13px{
    font-size: 13px;
}
.text-18px{
    font-size: 18px;
}
.text-20px{
    font-size: 20px;
}
.text-28px{
    font-size: 28px;
}
.text-36px{
    font-size: 36px;
}
/* kết thúc quy định về kích thước  */
.text-black{
    color: black;
}
.text-black-grey{
    color:  #3d3d3d !important;
}
h3{
    margin-top: 20px;
    margin-bottom: 25px;
}
/* css con layout slide  */
.btn-more-white {
    display: inline-block !important;
    padding: 7px 15px;
    border: 1px solid;
    color: #ffffff;
    margin-top: 25px;
    border-radius: 2px;
}

.collection-title{
    color: #ffffff;
    margin-bottom: 15px;
    display: block;
    text-transform: uppercase;
}
.collection-info{
    position: absolute;
    top: calc(50% - 75px);
    right: 30px;
    width: 40%;
    text-align: right;
}
a.home-collection-link{
    display: block  ;
    line-height: 0 !important;
}
a.home-collection-link img{
    width: 100%;
    height: 100%;
   
}
.collection-desc{
    color: #ffffff;
    line-height: 24px;
}
/* end css con layout on slide  */

.home-banner1{
    position: relative;
}

.home-gallery{
    background: #000000;
    padding: 50px 0px;
}
.hg-info{
    text-align: center;
}
.hg-info .hg-title{
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 300;
}
.hg-info .hg-desc{
    letter-spacing: 2px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 300;
}

.home-banner2{
    position: relative;
}

.collection-info2{
    position: absolute;
    right: 0px;
    width: 100%;
    top: auto;
    bottom: 65px;
}
/* css của phần slider 2  */
.section-title{
    letter-spacing: 2px;
    text-transform: uppercase !important;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;

}

.product-item {
    margin-bottom: 5px;
    border: 1px solid #001f3f;
}
.product-img{
    position: relative;
}
.product-sale {
    top:0px;
    right:0px;
    color: #001f3f;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    background: #001f3f;
    width: 36px;
    height: 32px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0;
    z-index: 999;
}
.variant-hover{
    display: block;
    position: relative;
    overflow: hidden;
}

.product-title{
    color: #000000;
    display: inline-block;
    text-align: center;
    margin-bottom: 15px;
    position: relative;
    font-weight: bold;
}
.product-info{
    margin-top: 10px;
    margin-bottom: 10px;
}
a.variant-hover img{
    width: 100%;
    border-bottom: 1px solid #001f3f;
}



#home-shop-map{
    margin-top: 30px;
    height: 300px;
    background-image: linear-gradient(to bottom right, grey, black);;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home-shop-map .overlay .shop-info{
    margin-top: 8%;
    text-transform: uppercase;
    font-family: segoe ui light;
}
#home-shop-map .overlay .shop-info span {
    display: block;
    letter-spacing: 4px;
    color: #fff;
}

footer .footer-copyright {
    padding: 10px 0px;
    background: #000000;
    color: #ffffff;
}
/* footer main class control  */
.footer-info-left{
    width: 70%;
    float: left;
}
.footer-social-right{
    width: 30%;
    float: left;
}
/* footer info left control */

.footer-info-left .grid-item-left{
    width: 33.333%;
    float: left;
}
.footer-info-left .grid-item-left .footer-info .footer-info-logo{
    margin-bottom: 30px;
}
.footer-info-left .grid-item-left .footer-info .footer-info-logo a img{
    height: 100px;
}
.ft-address{
    display: flex;
    margin-bottom: 10px;
    margin-left: 17%;
}
.ft-hotline{
    display: flex;
    margin-bottom: 10px;
    margin-left: 17%;
}
.ft-email{
    display: flex;
    margin-bottom: 10px;
    margin-left: 17%;
}


.footer-info-left .grid-item-center{
    width: 33.333%;
    float: left;
}
.footer-info-left .grid-item-center .footer-menu{
    margin-top: 5%;
    margin-left: 34%;
}
.footer-info-left .grid-item-right .footer-menu{
    margin-top: 5%;
    margin-left: 18%;
}

.footer-info-left .grid-item-right{
    width: 33.333%;
    float: left;
}
.footer-social{
    height: 100%;
    padding-top: 8.5%;
}

.social-icon{
    color: #000000;
    font-size: 36px;
    margin-right: 10px;
}
.footer-title{
    margin-bottom: 30px;
}