body{
    font-size: 14px;
    font-family: segoe ui;

}
.banner-top{
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 99;
    background: #000000;
    top: 0px;
    animation: slide-down 0.5s;
}
.banner-top-control{
    background-color: #000000;
    padding: 5px 20px ;
    transition: left 1s;

}
.item-logo-left{
    width: 16.666%;
    float: left;
    position: relative;
}
.item-logo-left a img{
    height: 60px;
    text-align: center;
}
.item-list-center{
    width: 66.666%;
    float: left;
}
.list-control{
    margin-top: 15px;
    background: #000000;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.list-control ul.list-item {
    text-align: center;

}
.list-control ul.list-item li.menu-item{
    display: inline-block;
    padding: 10px 0px;
    margin: 0px 10px;
}

.item-contact-right{
    width: 16.666%;
    float: left;
    text-align: right;
}
.right-contact-control ul.contact-control{
    margin: 20px 0px 0px;

}
.right-contact-control ul.contact-control li.contact-item{
    display: inline-block;
    margin-left: 20px;
    margin-top: 5px; 
}

#home-main-slider{
    margin-top: 72px;
}

/* css responsive menu and icon bag  */
.mobile-bag-shopping{
    position: absolute;
    top: 20px;
    right: 3%;
    font-size: 20px;
    display: none;
}
.mobile-menu-respond{
    position: absolute;
    top: 20px;
    left: 3%;
    font-size: 20px;
    display: none;
}
#respon_menu{
    display: none;
    position: absolute;
    background: #000;
    width: 300px;
    color: #f5f5f5;
    top: -5px;
    left: -320px;
   transition: left 1s;
}
.drawer__header{
    display: table;
    background: #000;
    height: 70px;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #e9e9e9;
}
.drawer__title{
    width: 100%;
}
.drawer__header .drawer__title img{
    width: 75%;
    left: 30px !important;
}
.drawer__close{
    width: 10%;
    text-align: center;
    font-size: 1.28571em;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
.drawer__close a{
    height: 100%;
    width: 100%;
    padding-top: 60px;
    box-sizing: border-box;
}
.close-icon{
    color: white;
}


ul.mobile-nav{
    background: #000;
    margin-top: -10px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    box-sizing: border-box;
    text-transform: uppercase;
}
.mobile-nav li.mobile-nav__item{
    padding: 25px 0px;
    border-bottom: 1px solid white;
    padding-left: 10px;
    box-sizing: border-box;
}

#site2.open-respon-menu #respon_menu{
    display: block;
    left: -20px !important;
    transition: left 1s;
}
