.modal-2{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 72px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
    cursor: pointer;
  }
  
  .modal-content-2{
    background-color: #000000;
    margin: auto;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 80%;
    height: 65%;
  }
.modal-content-list{
   overflow: hidden;
   height: 100%;
  }
.modal-content-list-left{
    width: 25%;
    float: left;
    height: 100%;
}
.modal-content-list-center{
    width: 25%;
    float: left;
    height: 100%;
}
.modal-content-list-right{
    width: 25%;
    float: left;
    height: 100%;
}
.modal-content-list-img{
    width: 25%;
    float: left;
}
.modal-content-list-img img{
    width: 100%;
}
ul.list-modal2 li{
    color: white;
    padding-top: 20px;
}
ul.list-modal2 li:hover a{
    color: red !important;
    font-weight: bold;
}
ul.list-modal2 li a{
   color: white !important;
}